/* styles.css */
.container {
    position: relative;
    float: right;
    width: 100%;
    padding-left: 10px;
}

.closePanel {
	font-weight: 100;
	color: #b5cccc;
	font-size: 2rem;
	position: absolute;
    right: 0;
    margin: 20px;
    transition: color 0.33s;
    cursor: pointer;
}

.closePanel:hover {
	color: #865959;
}