<!doctype html>
<html>
  <head>
    <title>Menternship</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/manifest.json">
    <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106567509-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-106567509-1');
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script src="/dist/{{vendor}}"></script>
    <script src="/dist/{{app}}"></script>
    <script>
      // Let's register our serviceworker
      navigator.serviceWorker.register('sw.js', {
        // The scope cannot be parent to the script url
        scope: './'
      });
      
    </script>
  </body>
</html>