.container {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.sidebar {
	padding-top: 20px;
	width: 100%;
	float: left;
	z-index: 0;
	position: absolute;
}

.mainContent {
	padding-top: 20px;
	margin-left: 20%;
	width: 80%;
	overflow-x: hidden; 
	vertical-align: top;
	background: #FFF;
	z-index: 1;
	position: relative;
	height: 5000px;

}
.menubar {
	height: 50px;
	border-bottom: 1px solid #efefef;
}